<h1>President</h1>

<p>
  <strong>Name:</strong>
  <%= @president.name %>
</p>
 
<p>
  <strong>Party:</strong>
  <%= @president.party %>
</p>

<p>
  <strong>Wiki:</strong>
  <%= @president.wiki %>
</p>
<td><%= link_to 'Back', admin_president_list_path%></td>