@import "bootstrap-sprockets";
@import "bootstrap";


.jumbotron {
  background-image:url('whitehouse1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.jumbotron .images img{
	height: 100px;	
	width: 100%;
}

.jumbotron .president img{
	height: 200px;	
	width: 100%;
}

.jumbotron h2 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}



.jumbotron h1 h2 {
	font-family: 'Ultra', 'Arial Black', serif;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-style: normal;
}



.jumbotron select {
	width: 100%;
} 

////////////


body {
    font-family: Georgia, serif;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    }

body, .preamble h3, p{
    color: #724;
    }



/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
*/
::-moz-selection{ background: #fff; color:#804; text-shadow: none; }
::selection { background:#fff; color:#804; text-shadow: none; } 

a abbr { border-bottom: none }

a:link, p:hover a abbr { color: #804 }
.sidebar a:link {
    color: #550028;
}
.sidebar .designer-name:link, a:visited { color: #935 }
.sidebar .designer-name:visited { color: #b68 }

a:hover, p:hover a:hover abbr, .sidebar a:hover, .sidebar .designer-name:hover { 
    color: #000;
    text-shadow: 2px 2px 0 rgba(255,255,255,0.51);
    }

p:hover abbr, h3:hover abbr { 
    color: #000;
    }

.summary p:hover abbr, footer a:hover {
    color: #fff;
    text-shadow: none;
}

h1, h2, h3, .design-archives a:before, footer a, 
footer:after, .supporting p:nth-child(2)::first-letter {
    font-family: 'Ultra', 'Arial Black', serif;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-style: normal;
}

a {
    font-family: 'Montserrat', Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: .875em;
    text-decoration: none;
    text-transform: uppercase;
}

.supporting p:nth-child(2)::first-letter {
    font-size: 2.8em;
    line-height: 0.8;
    float: left;
    margin: .1em .1em 0 -.2em;
    color: #804;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
}
.benefits p:nth-child(2)::first-letter, .requirements p:nth-child(2)::first-letter {
    margin-left: -.4em;
}

h3:before, h3:after, footer:before {
    font-family: Georgia;
    font-style: italic;
}

footer a {
    text-transform: lowercase;
}
h1, h3 {
    color: #fff;
}
.supporting h3 {
    background-color: #804;
}

.sidebar h3 {
    color: #fff;
    background: #5b0a2a;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.summary p, .preamble {
    font-size: .875em;
}

header[role=banner] {
    font-size: 30px;
}

/*  xoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxo
    =Layout
    
    All righty then. Let's roll.
    
    First, backgrounds + set up the page wrapper
    --------------------------------------------------    */

body {
    text-align: right;
    max-width: 540px;
    
}
@media screen and (max-width: 420px) { body { margin-left: 0 } }

.page-wrapper {
    position: relative;
    max-width: 460px;
    padding: 30px 0 0;
    margin: 0 0 0 auto;
    text-align: left;
    -webkit-box-shadow: 0 0 24px rgba(0,0,0,0.3);
       -moz-box-shadow: 0 0 24px rgba(0,0,0,0.3);
            box-shadow: 0 0 24px rgba(0,0,0,0.3);
}
@media screen and (max-width: 580px) { .page-wrapper { z-index: 3 } }

@media screen and (min-width: 581px) {
    body {
        text-align: left;
        max-width: 100%;
    }
    .page-wrapper {
        margin-left: 80px;
    }    
}


.page-wrapper, .intro:after, .supporting div, .supporting footer {
    background: #fceec6 url('whitehouse_light.jpeg') no-repeat fixed 50% top;
}
/*  Somewhat torn about these bg images.
    
    The large-sized images are not ideal for mobile devices. 
    But serving up a smaller image really requires background-size, 
    and this compromises the design severely on older browsers.
*/

.page-wrapper:before {
    content: ' ';
    position: fixed;
    display: block;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/*  xoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxo
    =Intro
    Note: IE<9 ignores styles for HTML5 elements. .intro is one.
    --------------------------------------------------    */

.intro {
    padding: 96px 0 36px;
    position: relative;
    text-align: center;
    margin: -30px 0 0;
    background: rgba(250,243,204,0.6);
    background:    -moz-radial-gradient(center, ellipse cover,  rgba(249,249,249,1) 0%, rgba(250,223,154,0.4) 100%); /* FF3.6+ */
    background:        -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(250,223,154,0.4))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(249,249,249,1) 0%,rgba(250,223,154,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background:      -o-radial-gradient(center, ellipse cover,  rgba(249,249,249,1) 0%,rgba(250,223,154,0.4) 100%); /* Opera 12+ */
    background:     -ms-radial-gradient(center, ellipse cover,  rgba(249,249,249,1) 0%,rgba(250,223,154,0.4) 100%); /* IE10+ */
    background:         radial-gradient(ellipse at center,  rgba(249,249,249,1) 0%,rgba(250,223,154,0.4) 100%); /* W3C */
    border-color: rgba(250,223,154,0.3);
    border-style: solid;
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.intro:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.summary, .preamble, header[role=banner] {
    text-align: center;
}

.preamble {
    padding: 0 20px;
}

header[role=banner] {
    margin: 0 auto;
    width: 7.1em;
    position: relative;
    z-index: 1;
    top: -186px;
}

.summary {
    padding: 0 3em .1em;
    
}

.summary p:last-child {
    padding: .4em .5em;
    border-top: 1px solid rgba(255,255,255,0.6);
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

.summary p {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    color:#fff;
}

.summary p:first-child {
    margin-top: 60px;
    padding: 30px .5em 1em;
}
.summary p:first-child:before {
    content: ' ';
    height: 60px;
    width: 70px;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -35px;
    display: block;
    background: url('heart-and-lips.png') no-repeat 50% top;
}

.preamble h3 {
    padding-bottom: 20px;
    background: url('heart-and-lips.png') no-repeat 50% bottom;
    font-weight:bold;
}

.preamble p {
    font-size:12px;
}



.preamble h3:before, .preamble h3:after {
    display: block;
}




/* h1 - "CSS Zen Garden" */
h1 {
    position: fixed;
    left:-.3em;
    top:0;
    width: 1em;
    font-size: 48px;
    line-height: .8;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
    text-shadow: 0 0 48px rgba(0,0,0,0.3);
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}
@media screen and (min-height: 650px) { h1 { font-size: 60px } }
@media screen and (min-height: 800px) { h1 { font-size: 72px } }
@media screen and (min-height: 950px) { h1 { font-size: 96px } }
@media screen and (min-height: 1200px) { h1 { font-size: 108px } }
@media screen and (max-width: 480px) {
    .intro {
        z-index: 3;
    }
    h1 {
        width: auto;
        left: 0;
        right: 0;
        top: -22px;
        font-size: 24px;
        background: #804;
        z-index: 3;
        padding: 8px 0;
        -webkit-box-shadow: 0 0 8px #000;
           -moz-box-shadow: 0 0 8px #000;
                box-shadow: 0 0 8px #000;

    }
    .summary {
        padding: 0 0 .1em;
    }
}

/* h2 - "The Beauty..." */
h2 {
    text-align: center;
}

@media screen and (min-width: 240px) {
    h2 {
        position: absolute;
        top: 3em;
        right: 0;
        left: 0;
        margin: 0 auto;
        font-size: 1em;
        width: 10em;
        height: 6em;
        clip:rect(0,7.2em,6em,-.5em);
        line-height: 2;
        text-align: left;
        color:#fff;
        text-shadow: 0 0 4px rgba(68,0,32,0.6);
        filter: progid:DXImageTransform.Microsoft.Shadow(color='#aa3355',direction=135,strength=1);
    }
    h2:before {
        content: 'of';
        position: absolute;
        z-index: 1;
        left: 0;
        width: 6.9em;
        text-align: center;
        top: 1em;
        color: rgba(136,0,68,1);
        font-family: Georgia;
        font-weight: bold;
        font-style: italic;
    }
    /* Making little lines around the "of" */
    h2 abbr:before, h2 abbr:after {
        display: block;
        content: ' ';
        border-top: 3px solid rgb(136,0,68);
        border-top: 3px solid rgba(136,0,68,0.7);
        -webkit-box-shadow: 0 0 4px rgba(136,0,68,0.3);
           -moz-box-shadow: 0 0 4px rgba(136,0,68,0.3);
                box-shadow: 0 0 4px rgba(136,0,68,0.3);

        width: 2.5em;
        height: 0;
        position: absolute;
        top: 2em;
        }
    h2 abbr:before {
        left: .1em;
    }
    h2 abbr:after {
        right: 3.1em;
    }

}

@media screen and (min-width: 840px) {
    header[role=banner], .summary {
        position: fixed;
    }

    header[role=banner] {
        top: -1.7em;
        right: 0;
        left: 580px; /* abut page-wrapper */
        height: 9em;
    }
    
    .intro { padding-top: 36px }

    .summary {
        right: 0;
        left: 580px; /* abut page-wrapper */
        bottom: 0;
        padding: 0 1.2em 10px;
    }

    .summary p {
        max-width: 26.5em;
        margin-right: 0;
        margin-left: auto;
        font-family: Montserrat;
        font-size: .75em;
        text-shadow: 1px 1px 0 rgba(68,0,32,0.2);
    }
    .summary p, .summary p:last-child:after {
        background: rgba(138,0,68,0.3);
    }
    .summary p:first-child {
        -webkit-border-top-left-radius: 50%;
        -webkit-border-top-right-radius: 50%;
        -moz-border-radius-topleft: 50%;
        -moz-border-radius-topright: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    .summary p:first-child:before {
        top: -35px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        background: url('heart-and-lips.png') no-repeat 50% top, url('kiss.jpg') no-repeat fixed 50% top;
    }
    .summary p:last-child {
        font-family: Georgia, serif;
        font-style: italic;
        border-color: rgba(255,255,255,0.3);
    }
    .summary p:last-child:after {
        content: ' ';
        height: 11px;
        display: block;
        position: absolute;
        bottom: -12px;
        left: 0;
        right: 0;
    }
    .summary, .summary a {
        color: #fff;
    }

}

@media screen and (min-width: 960px) {
    .intro {
        padding: 36px 100px;
        margin: 0 -52px 30px;
        border-width: 2px; 
   }
   .intro:before {
        content: ' ';
        position: absolute;
        top: -16px;
        left: -16px;
        right: -16px;
        bottom: -16px;
        border: 2px solid rgba(250,223,154,0.4);
   }
    .intro, .intro:before {
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
   }
    .intro:after {
        top: -34px;
        right: 50px;
        left: 50px;
        bottom: -32px;
    }
    .intro div:last-child p:last-child {
        margin: 0 0 3em;
    }

    header[role=banner] {
        width: auto;
    }
    
    h2 {
        right: -.3em;
        left: auto;
    }
}

@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
    .intro {
        padding-top: 120px;
    }
    header[role=banner] {
        font-size: 24px;
        top: -6.5em;
    }
}

/*  xoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxo
    Background Sizing for main elements
    --------------------------------------------------    */

@media screen and (min-width: 1201px) {
    body, .page-wrapper, .page-wrapper:before, .page-wrapper:after, .intro:after, .supporting div, .supporting footer {
        background-size: 100%; /* if wider than bg image, make those suckers grow! */
    }
    .summary p:first-child:before {
        background-size: auto, 100%; /* match for keyhole */
    }
}
@media screen and (min-width: 580px) and (max-width: 960px) {
    body, .page-wrapper, .page-wrapper:before, .page-wrapper:after, .intro:after, .supporting div, .supporting footer {
        background-position: 25% top; /* shift image for medium-tight compositions */
    }
    .summary p:first-child:before {
        background-position: 50% top, 25% top; /* match for keyhole */
    }
}

@media screen and (max-device-width: 1024px) {
    /*
    Necessary b/c Mobile Safari does not support fixed background positioning
    http://stackoverflow.com/questions/3011226/using-background-attachmentfixed-in-safari-on-the-ipad
    */
    .intro:after {
        background: none;
    }
    .intro, .supporting >div, .supporting footer, .page-wrapper {
        background: rgba(250,223,154,0.6);
    }
}
@media screen and (max-device-width: 600px) { body, .page-wrapper:before { background-size: 800px } }
@media screen and (max-device-width: 400px) { body, .page-wrapper:before { background-size: 600px } }

/*  xoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxo
    =Supporting Content
    
    Primarily backgrounds and added content on h3s
    
    Because we want the bgs to show up on scrolling,
    background-position does get a little involved,
    with a fair amount of fine-tuning required.
    --------------------------------------------------    */

.supporting {
    position: relative;
    z-index: 1;
}

.supporting h3 {
    margin: 0;
    padding: 1em 20px;
}
.supporting h3, .supporting footer:before {
    -webkit-box-shadow: inset 0 0 18px rgba(70,15,35,0.8);
       -moz-box-shadow: inset 0 0 18px rgba(70,15,35,0.8);
            box-shadow: inset 0 0 18px rgba(70,15,35,0.8);

    background-image: url('story.gif');
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.explanation h3 { background-position: 300px 200px }
.participation h3 { background-position: -600px 200px }
.benefits h3 { background-position: -1200px 250px }
.requirements h3 { background-position: -2200px 250px }
.supporting footer:before { background-position: -2900px 300px }

/*  If a wider screen, shift the images 
    (footer:before gets special SPECIAL treatment, below) */
@media screen and (min-width: 1360px) {
    .explanation h3 { background-position: 550px 200px }
    .participation h3 { background-position: -450px 200px }
    .benefits h3 { background-position: -950px 250px }
    .requirements h3 { background-position: -1980px 250px }
}

/*  If a taller screen, reveal the images lower */
@media screen and (min-height: 800px) {
    .explanation h3 { background-position: 300px 350px }
    .participation h3 { background-position: -600px 350px }
    .benefits h3 { background-position: -1200px 350px }
    .requirements h3 { background-position: -2200px 350px }
}

/*  If a wider AND taller screen, well... */
@media screen and (min-width: 1360px) and (min-height: 800px) {
    .explanation h3 { background-position: 550px 350px }
    .participation h3 { background-position: -450px 350px }
    .benefits h3 { background-position: -950px 350px }
    .requirements h3 { background-position: -1980px 350px }
}

/* Target smaller screens ... and the iPad, since mobile safari does not support bg attach: fixed */
@media screen and (max-width: 580px), screen and (max-device-width: 580px),
screen and (device-width: 768px), screen and (device-width: 1024px) {
    .supporting h3, .supporting footer:before {
        background-size: 3375px; /* 90% size */
        background-attachment: scroll;
        min-height: 4em;
    }
    .explanation h3 { background-position: 200px -10px }
    .participation h3 { background-position: -620px 0 }
    .benefits h3 { background-position: -1150px 0 }
    .requirements h3 { background-position: -2080px 5px }
    .supporting footer:before { background-position: -2700px -20px }
}

/* target smallest screen setup */
@media screen and (max-width: 420px) {
    .supporting h3, .supporting footer:before {
        background-size: 2625px; /* 75% size */
    }
    .explanation h3 { background-position: 120px 10px }
    .participation h3 { background-position: -500px 20px }
    .benefits h3 { background-position: -930px 0 }
    .requirements h3 { background-position: -1600px 10px }
    .supporting footer:before { background-position: -2100px -15px }
}

.explanation h3, .benefits h3 {
    padding-right: 10%;
    color:#fff;
}


.supporting .participation h3, .supporting .requirements h3 {
    text-align: right;
    padding-left: 55%;
}
@media(max-width: 480px) {
    .explanation h3, .benefits h3 {
        padding-right: 40%;
    }
    .supporting .participation h3, .supporting .requirements h3 {
        padding-left: 40%;
    }
}
.participation h3:before {
    content: 'he requested her ';
    display: block;
}
.benefits h3:before {
    content: 'they became friends with ';
}
.requirements h3:before {
    content: 'before long, though, ';
}
.requirements h3:after {
    content: ' had crept in';
}
.supporting div {
    padding: 0 0 3em;
}

.supporting p {
    margin: 0;
    padding: 1em 40px 0;
}

.supporting p:nth-child(2) {
    padding-top: 2em;
    background: url('letter-flourish.png') no-repeat .45em .7em;
}

div[class^=design] a, div[class^=zen] a {
    padding: 2px 4px;
}

.supporting footer {
    font-size: 125%;
    position: relative;
    margin: 0;
    padding: 20px;
    text-align: center;
    border-top: 6em solid #804;
    background: #41071e;
}
.supporting footer:before, .supporting footer:after {
    display: block;
    position: absolute;
    color: #fff;
    right: 20px;
}

.supporting footer:before {
    top: -6em;
    height: 5em;
    right: 0;
    left: 0;
    text-align: right;
    padding: 1em 20px 0;
    content: '... and all because of a ';
}

.supporting footer:after {
    top: -3.7em;
    content: 'fountain kiss ';
}


/* -fin- */
